body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.heith {
  min-height: 500px;
}
.bord {
  border: 1px solid rgb(54, 226, 20);
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
